<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_mbsetupuser</key>
	<dict>
		<key>AuthenticationAuthority</key>
		<array>
			<string>;ShadowHash;HASHLIST:&lt;SALTED-SHA512-PBKDF2,SRP-RFC5054-4096-SHA512-PBKDF2&gt;</string>
			<string>;Kerberosv5;;_mbsetupuser@LKDC:SHA1.D913A15178DFAB13BF9A8A72BB07C1771239A5B1;LKDC:SHA1.D913A15178DFAB13BF9A8A72BB07C1771239A5B1;</string>
		</array>
		<key>GeneratedUID</key>
		<string>FFFFEEEE-DDDD-CCCC-BBBB-AAAA000000F8</string>
		<key>RealName</key>
		<string>Setup User</string>
	</dict>
	<key>ratiqnarwal</key>
	<dict>
		<key>AuthenticationAuthority</key>
		<array>
			<string>;ShadowHash;HASHLIST:&lt;SALTED-SHA512-PBKDF2,SRP-RFC5054-4096-SHA512-PBKDF2&gt;</string>
			<string>;SecureToken;</string>
			<string>;Kerberosv5;;ratiqnarwal@LKDC:SHA1.D913A15178DFAB13BF9A8A72BB07C1771239A5B1;LKDC:SHA1.D913A15178DFAB13BF9A8A72BB07C1771239A5B1;</string>
		</array>
		<key>GeneratedUID</key>
		<string>1DAB5310-EB6E-47C2-9426-6925F9E3D5BA</string>
		<key>RealName</key>
		<string>Ratiq Narwal</string>
	</dict>
</dict>
</plist>
